spring:
  application:
    name: hl7-auth
  data:
    rest:
      base-path: api

server: 
    port: 8090
    contextPath: /
    error:
      include-stacktrace: never
    connection-timeout: 60000
    max-http-header-size: 8192
    tomcat:
      accesslog:
        directory: logs
        enabled: false

logging:
  file: hl7-auth.log
  path : /var/log/hl7-auth/
  exception-conversion-word: '%wEx'
  
security:
    headers:
      frame: true
      xss: true
      hsts: all
    enable-csrf: false 

db:
  name: igamt-user
  port: 27017
  host: localhost 
key: 
  public: /usr/local/etc/hit/auth/publicKey.txt
  private: /usr/local/etc/hit/auth/privateKey.txt
    
email:
   port: 25
   protocol: smtp
   host: smtp.nist.gov
   admin: robert.snelick@nist.gov
   from: hl7-auth@nist.gov
   subject: NIST HL7 Auth Notification
   
   
    
  
